@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Baloo 2', serif;
    line-height: 1.6;
    background-color: rgb(53, 44, 226);
    color: white;
}

.header {
    height: 90vh;
}

.header h1 {
    display: flex;
    align-items: center;
    font-size: 5rem;
    color: rgb(163, 158, 255);
}

.header h1 span {
    font-size: 2em;
    padding-left: 20px;
    color: white;

}

.section {
    padding: 3rem 0;
}

.section:nth-child(odd) {
    background-color: rgb(63, 54, 224);
}

.container {
    height: 100%;
    width: 100%;
    max-width: 63.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.container p, ol {
    font-size: 1.5rem;
}

p {
    margin: 0;
    padding: 1rem;
}

/* --- 4 --- */

.p-special {
    background-color:rgb(137, 131, 255);
    border-radius: .5rem;
}

/* --- paragrafy ---  */

/* --- 1 --- */
em {
    color: rgb(63, 54, 224);
}

/* --- 2 --- */
u {
    text-decoration-style: double;
}

/* --- 3 --- */
q {
    background-color: rgba(0, 0, 0, 0.1);
}


/* --- lista --- */

/* --- 5 --- */
ol ol {
    list-style-type: upper-roman;
}

/* --- tabela --- */

table {
    text-align: center;
    border-collapse: collapse;
    font-size: 1.5rem;
}

tr, td, th {
    padding: 1rem;
}

/* --- 6 --- */
td, th {
    border: 2px solid rgb(137, 131, 255);
}

/* --- 6 --- */
th {
    background-color: rgb(40, 33, 165);
}
/* 
@media screen and (max-width: 63.25rem){

table, thead, tbody, th, td, tr { 
    display: block; 
}
    .section-table {
        flex-direction: row;
    }
    
    
} */

